{% extends "base.html" %}

{% block content %}
    <!--
    TODO:
    Use some type of loop here to show all the graphs currently saved [X]
    Add some way to delete each graph [ ]
    -->
    {% if img_paths %}
    <!-- Clear graphs form -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.reset() }}</p>
    </form>
    {% for index in graph_range %}
    <div class="graph-table-container">
        <div class="on-left">
            <img src="{{ img_paths[index] }}">
        </div>
        <div class="move-down">
            <table>
                <tr>
                    <th>Destination IP</th>
                    <th>Number of Packets</th>
                </tr>
                {% for iteration in top_dest_range %}
                <tr>
                    <td>{{ df_NICdata.loc[index, 'destIP'][iteration] }}</td>
                    <td>{{ df_NICdata.loc[index, 'packets'][iteration] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <h2>No graphs generated</h2>
    {% endif %}
{% endblock %}
